Package: mitmdump
Version: 9.0.1
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: Mitmdump is your swiss-army knife for debugging, testing, privacy measurements, and penetration testing.
