[Desktop Entry]
Version=1.0
Categories=Development;IDE;
Exec=sh -c '/opt/blackbuntu/crypto/electrum-ltc/electrum-ltc.AppImage; $SHELL'
Icon=/usr/share/icons/blackbuntu/electrum-ltc.png
Name=Electrum LTC
Terminal=false
Type=Application
