[Desktop Entry]
Version=1.0
Categories=Development;IDE;
Exec=sh -c '/opt/blackbuntu/crypto/electrum-btc/electrum-btc.AppImage; $SHELL'
Icon=/usr/share/icons/blackbuntu/electrum-btc.png
Name=Electrum BTC
Terminal=false
Type=Application
