Package: electrum-btc
Version: 4.4.0
Priority: optional
Architecture: amd64
Maintainer: NeosLab <contact@neoslab.com>
Description: Electrum BTC is one of the most popular Bitcoin wallets. Electrum BTC is fast, secure and easy to use. It suits the needs of a wide spectrum of users.
